@import "base.css";

img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

body {
	margin: 1em auto;
	max-width: 45em;
	padding: 0.62em;
	background-color: #212F3D;
	font-family: Lato, Arial;
}

#parcialTemp {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.elements {
	margin-left: auto;
	margin-right: auto; 
}

.button {
	display: block;
}

.mainButton {
	background-color: #212F3D;
	font-family: Lato, Arial;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	width: 23em;
} 

.classButton {
	cursor: pointer;
	border: 1.3px solid black;
	border-radius: 4px;
	font-weight: bold;
}

/* ANUNCIOS PRE-LINKS*/

h2 { /*For subtitle ("Feliz Fin de Semana")*/
	color: #fd5285;
}

/* LINKS */

h3 {
	color: white;
}

.signature {
	font-size:10px;
	color: white;
}
::selection {
	background:#0f4c81;
	color: white; 
}
a:visited {
	color: white; 
}

#okayButton {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: auto;
  }

.rcorners1 {
	border-radius: 25px;
	background: #73AD21;
	padding: 20px;
	width: 200px;
	height: 150px;
	margin: auto; 
  }

/* #aviso {
	display: block;
	border-radius: 25px;
	background: #73AD21;
	padding: 20px; 
	width: 200px;
	height: 150px; 
	margin: 0 auto;
}

#okayButton { 
	margin: 0;
	position: absolute;
	top: 35%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
} */

p {
	margin-bottom: 0.8em;
}

@media print {
	body {
	  max-width: none;
	}
}
  