body {
    background-color:#252525;
}
img {
    width: 31em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#whoTalks {
    width: 33em;
}

#logo {
    width: 34em;
    height: 16%;
}
.containerDiv { 
    margin: 0% auto;
    display: block;
 }
 #tecla {
     width: 150px; 
     height: 150px;
 }